#skillInfo em {
  color: #cddc39;
}

.lime {
  background-color: #c1a7e2 !important;
  border-radius: 5px;
  padding-inline: 5px;
  padding-block: 2px;
  margin-right: 3px;
}

em {
  font-style: italic;
}
